In [1]:
import os
os.listdir('sample_data')

['README.md',
 'anscombe.json',
 'mnist_train_small.csv',
 'california_housing_train.csv',
 'california_housing_test.csv',
 'mnist_test.csv']

In [3]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head(1)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0

[1 rows x 9 columns]